In [1]:
# loading SQL Magic
%load_ext sql

In [2]:
#connecting to psql server
%env DATABASE_URL = postgresql://postgres:root@localhost:5432/cars

env: DATABASE_URL=postgresql://postgres:root@localhost:5432/cars

Some transformation were made on provided data.

1. All character varying columns were changed to upper case.

2. Same vehicle class with different format were transformed in to single format. 
    .
    
    Eg - VAN:PASSENGER & VAN - PASSENGER were transformed into single VAN-PASSENGER.

3. Fuel type were in character N,E,X,Z,D. After analysing data it were named -
    
    N(Natural gas)
    
    E(Ethanol Based fuel)
    
    D(Diesel)
    
    X(Regular gasoline)
    
    Z(Premium gasoline)

In [3]:
%%sql
SELECT * FROM cars
LIMIT 10

10 rows affected.

[(2001, 'CHEVROLET', 'ASTRO PASSENGER AWD', 'VAN-PASSENGER', 4.3, 6, 'A4', 'REGUALR GASOLINE', 16.1, 11.8, 14.2, 20, 327),
 (2001, 'CHEVROLET', 'G1500/G2500 CHEVY EXPRESS', 'VAN-PASSENGER', 5.0, 8, 'A4', 'REGUALR GASOLINE', 16.9, 12.5, 14.9, 19, 343),
 (2001, 'CHEVROLET', 'G1500/G2500 CHEVY EXPRESS', 'VAN-PASSENGER', 5.7, 8, 'A4', 'REGUALR GASOLINE', 18.0, 12.8, 15.7, 18, 361),
 (2001, 'DODGE', 'RAM 1500 WAGON', 'VAN-PASSENGER', 5.2, 8, 'A4', 'REGUALR GASOLINE', 18.1, 11.8, 15.3, 18, 352),
 (2001, 'DODGE', 'RAM 2500 WAGON', 'VAN-PASSENGER', 5.2, 8, 'A4', 'REGUALR GASOLINE', 19.4, 13.5, 16.7, 17, 384),
 (2001, 'DODGE', 'RAM 2500 WAGON', 'VAN-PASSENGER', 5.9, 8, 'A4', 'REGUALR GASOLINE', 19.6, 12.4, 16.4, 17, 377),
 (2000, 'DODGE', 'RAM 1500 WAGON', 'VAN-PASSENGER', 3.9, 6, 'A3', 'REGUALR GASOLINE', 16.5, 13.3, 15.1, 19, 347),
 (2000, 'DODGE', 'RAM 1500 WAGON', 'VAN-PASSENGER', 5.2, 8, 'A4', 'REGUALR GASOLINE', 18.1, 11.6, 15.2, 19, 350),
 (2000, 'DODGE', 'RAM 2500 WAGON', 'VAN-PASSENGER', 5.2, 8, 'A4', 'REGUALR GASOLINE', 19.8, 14.0, 17.2, 16, 396),
 (2000, 'DODGE', 'RAM 2500 WAGON', 'VAN-PASSENGER', 5.9, 8, 'A4', 'REGUALR GASOLINE', 19.8, 12.1, 16.3, 17, 375)]

In [4]:
%%sql
SELECT DISTINCT fuel
FROM cars

 * postgresql://postgres:***@localhost:5432/cars
5 rows affected.

[('NATURAL GAS',),
 ('REGUALR GASOLINE',),
 ('DIESEL',),
 ('PREMIUM GASOLINE',),
 ('ETHANOL BLENDED FUEL',)]

In [5]:
%%sql 
SELECT DISTINCT vehicle_class
FROM cars

 * postgresql://postgres:***@localhost:5432/cars
17 rows affected.

[('SPECIAL PURPOSE VEHICLE',),
 ('SUBCOMPACT',),
 ('SUV',),
 ('COMPACT',),
 ('MINIVAN',),
 ('PICKUP TRUCK-STANDARD',),
 ('PICKUP TRUCK-SMALL',),
 ('TWO-SEATER',),
 ('VAN - CARGO',),
 ('MINICOMPACT',),
 ('VAN-PASSENGER',),
 ('STATION WAGON-SMALL',),
 ('SUV-SMALL',),
 ('FULL-SIZE',),
 ('MID-SIZE',),
 ('STATION WAGON-MID-SIZE',),
 ('SUV-STANDARD',)]

*****************Some queries for insights.*****************

*****************1.
The difference(in percentage) between the average highway fuel efficiency and combined fuel efficiency for each fuel type.
Fuel consumption is based on per 100km as provided.*****************

***INSIGHT***  
We can see that average combined fuel consumption is atleast 18 percent greater than highway fuel consumption.

In [6]:
%%sql

WITH quart AS(
    SELECT * FROM cars WHERE years BETWEEN 2015 AND 2022
),

cte AS(
SELECT fuel, 
ROUND(AVG(hwy_l_per_100km)::numeric,2) avg_hw,
ROUND(AVG(comb_l_per_100km)::numeric,2) avg_comb
FROM quart
GROUP BY fuel   
)

SELECT fuel, avg_hw, avg_comb, 
CONCAT(ROUND(((avg_comb/avg_hw)*100-100)::numeric,2),'%') diff
FROM cte
ORDER BY 4

 * postgresql://postgres:***@localhost:5432/cars
5 rows affected.

[('REGUALR GASOLINE', Decimal('8.50'), Decimal('10.05'), '18.24%'),
 ('DIESEL', Decimal('7.73'), Decimal('9.22'), '19.28%'),
 ('PREMIUM GASOLINE', Decimal('9.39'), Decimal('11.53'), '22.79%'),
 ('ETHANOL BLENDED FUEL', Decimal('13.45'), Decimal('16.52'), '22.83%'),
 ('NATURAL GAS', Decimal('9.50'), Decimal('12.70'), '33.68%')]

***2. Insight of percentage of cars in each vehicle class that have a fuel consumption of less than 7 liters per 100km.***

In [7]:
%%sql
WITH quart AS(
    SELECT * FROM cars WHERE years BETWEEN 2015 AND 2022
),
less_fc AS(
SELECT vehicle_class, COUNT(CASE WHEN fuel_consumption < 7 THEN 1 ELSE NULL END)::numeric under_7fc, COUNT(*)::numeric total_vc
FROM quart 
GROUP BY vehicle_class
)

SELECT vehicle_class,  total_vc, under_7fc, CONCAT(ROUND(100*(under_7fc/total_vc),2),'%') percent
FROM less_fc
ORDER BY 4 DESC

 * postgresql://postgres:***@localhost:5432/cars
15 rows affected.

[('STATION WAGON-SMALL', Decimal('257'), Decimal('18'), '7.00%'),
 ('MID-SIZE', Decimal('1190'), Decimal('78'), '6.55%'),
 ('STATION WAGON-MID-SIZE', Decimal('67'), Decimal('4'), '5.97%'),
 ('MINIVAN', Decimal('81'), Decimal('4'), '4.94%'),
 ('FULL-SIZE', Decimal('682'), Decimal('26'), '3.81%'),
 ('COMPACT', Decimal('1017'), Decimal('34'), '3.34%'),
 ('SUV-SMALL', Decimal('1462'), Decimal('18'), '1.23%'),
 ('SUV-STANDARD', Decimal('916'), Decimal('6'), '0.66%'),
 ('TWO-SEATER', Decimal('522'), Decimal('3'), '0.57%'),
 ('PICKUP TRUCK-SMALL', Decimal('184'), Decimal('1'), '0.54%'),
 ('MINICOMPACT', Decimal('366'), Decimal('1'), '0.27%'),
 ('VAN-PASSENGER', Decimal('45'), Decimal('0'), '0.00%'),
 ('SPECIAL PURPOSE VEHICLE', Decimal('98'), Decimal('0'), '0.00%'),
 ('PICKUP TRUCK-STANDARD', Decimal('704'), Decimal('0'), '0.00%'),
 ('SUBCOMPACT', Decimal('712'), Decimal('0'), '0.00%')]

***3. The top 10 cars with the highest highway fuel efficiency for each fuel type.***

***Insight***

In every fuel type specific car maker holds maximum number of car model.

For Diesel - Chevrolet

Ethanol Blended Fuel - Ford

Natural gas has only one car maker i.e Chevrolet with high fuel efficiency

Premium gasoline - Mini Cooper

Regular gasoline - Hyundai

In [8]:
%%sql
WITH quart AS(
    SELECT * FROM cars WHERE years BETWEEN 2015 AND 2022
),
ranked_cars AS(
    SELECT fuel, make, model, hwy_l_per_100km, 
    ROW_NUMBER() OVER (PARTITION BY fuel ORDER BY hwy_l_per_100km ASC) AS row_num
    FROM quart
)
SELECT fuel, make, model, hwy_l_per_100km
FROM ranked_cars
WHERE row_num <= 10
ORDER BY fuel, hwy_l_per_100km DESC;

 * postgresql://postgres:***@localhost:5432/cars
41 rows affected.

[('DIESEL', 'CHEVROLET', 'CRUZE HATCHBACK DIESEL', 5.2),
 ('DIESEL', 'VOLKSWAGEN', 'GOLF TDI (MODIFIED)', 5.2),
 ('DIESEL', 'VOLKSWAGEN', 'JETTA TDI (MODIFIED)', 5.1),
 ('DIESEL', 'CHEVROLET', 'CRUZE DIESEL', 5.1),
 ('DIESEL', 'CHEVROLET', 'CRUZE DIESEL', 5.0),
 ('DIESEL', 'CHEVROLET', 'CRUZE DIESEL', 5.0),
 ('DIESEL', 'CHEVROLET', 'CRUZE DIESEL', 4.9),
 ('DIESEL', 'CHEVROLET', 'CRUZE HATCHBACK DIESEL', 4.9),
 ('DIESEL', 'CHEVROLET', 'CRUZE DIESEL', 4.6),
 ('DIESEL', 'CHEVROLET', 'CRUZE DIESEL', 4.5),
 ('ETHANOL BLENDED FUEL', 'FORD', 'FOCUS FFV', 9.1),
 ('ETHANOL BLENDED FUEL', 'FORD', 'FOCUS FFV', 8.9),
 ('ETHANOL BLENDED FUEL', 'CHRYSLER', '200 FFV', 8.9),
 ('ETHANOL BLENDED FUEL', 'FORD', 'FOCUS FFV', 8.8),
 ('ETHANOL BLENDED FUEL', 'FORD', 'FOCUS FFV', 8.6),
 ('ETHANOL BLENDED FUEL', 'FORD', 'FOCUS FFV', 8.6),
 ('ETHANOL BLENDED FUEL', 'FORD', 'FOCUS FFV', 8.5),
 ('ETHANOL BLENDED FUEL', 'CHRYSLER', '200 FFV', 8.5),
 ('ETHANOL BLENDED FUEL', 'CHRYSLER', '200 FFV', 8.5),
 ('ETHANOL BLENDED FUEL', 'FORD', 'FOCUS FFV', 8.3),
 ('NATURAL GAS', 'CHEVROLET', 'IMPALA DUAL FUEL', 9.5),
 ('PREMIUM GASOLINE', 'ACURA', 'ILX HYBRID', 6.1),
 ('PREMIUM GASOLINE', 'SMART', 'FORTWO COUPE', 6.1),
 ('PREMIUM GASOLINE', 'SMART', 'FORTWO CABRIOLET', 6.1),
 ('PREMIUM GASOLINE', 'MINI', 'COOPER CONVERTIBLE', 6.0),
 ('PREMIUM GASOLINE', 'MINI', 'COOPER 5 DOOR', 6.0),
 ('PREMIUM GASOLINE', 'MINI', 'COOPER 3 DOOR', 6.0),
 ('PREMIUM GASOLINE', 'MINI', 'COOPER 3 DOOR', 5.9),
 ('PREMIUM GASOLINE', 'MINI', 'COOPER 5 DOOR', 5.9),
 ('PREMIUM GASOLINE', 'VOLKSWAGEN', 'JETTA HYBRID', 4.9),
 ('PREMIUM GASOLINE', 'VOLKSWAGEN', 'JETTA HYBRID', 4.9),
 ('REGUALR GASOLINE', 'HYUNDAI', 'ELANTRA HYBRID BLUE', 4.2),
 ('REGUALR GASOLINE', 'HYUNDAI', 'IONIQ', 4.2),
 ('REGUALR GASOLINE', 'HYUNDAI', 'IONIQ', 4.1),
 ('REGUALR GASOLINE', 'HYUNDAI', 'IONIQ', 4.1),
 ('REGUALR GASOLINE', 'HYUNDAI', 'IONIQ BLUE', 4.0),
 ('REGUALR GASOLINE', 'HYUNDAI', 'IONIQ BLUE', 4.0),
 ('REGUALR GASOLINE', 'HYUNDAI', 'IONIQ BLUE', 4.0),
 ('REGUALR GASOLINE', 'HYUNDAI', 'IONIQ BLUE', 4.0),
 ('REGUALR GASOLINE', 'HYUNDAI', 'IONIQ BLUE', 3.9),
 ('REGUALR GASOLINE', 'HYUNDAI', 'IONIQ BLUE', 3.9)]

***4. The average fuel consumption and emissions for cars in each car maker & year, and shows the results in ascending order by year. Highlighted car makers w.r.to year  where the average emissions are higher than the overall average emissions for the table. ***

***First we calculate overall average emission.***

In [9]:
%sql SELECT ROUND(AVG(emissions)::numeric,2) FROM cars

 * postgresql://postgres:***@localhost:5432/cars
1 rows affected.

[(Decimal('250.07'),)]

***Now, for each year we highlight car maker with average emission higher than overall average emission. ***

In [10]:
%%sql

WITH yearly_stats AS (
  SELECT years, make,
         ROUND(AVG(fuel_consumption)::numeric,2) AS avg_fuel_consumption, 
         ROUND(AVG(emissions)::numeric,2) AS avg_emissions
  FROM cars
  GROUP BY years, make
)
SELECT years, make,
        avg_fuel_consumption, avg_emissions, 
        CASE WHEN avg_emissions > (SELECT AVG(emissions) FROM cars) THEN 'Higher than average'
        ELSE '' 
        END AS emissions_highlight
FROM yearly_stats
ORDER BY years;

 * postgresql://postgres:***@localhost:5432/cars
891 rows affected.

[(2000, 'VOLVO', Decimal('12.17'), Decimal('238.05'), ''),
 (2000, 'LINCOLN', Decimal('14.77'), Decimal('286.00'), 'Higher than average'),
 (2000, 'JAGUAR', Decimal('14.08'), Decimal('273.70'), 'Higher than average'),
 (2000, 'LAND ROVER', Decimal('18.30'), Decimal('367.25'), 'Higher than average'),
 (2000, 'CHRYSLER', Decimal('12.09'), Decimal('235.32'), ''),
 (2000, 'JEEP', Decimal('14.79'), Decimal('301.63'), 'Higher than average'),
 (2000, 'DAEWOO', Decimal('10.39'), Decimal('200.80'), ''),
 (2000, 'BUICK', Decimal('12.62'), Decimal('238.17'), ''),
 (2000, 'SATURN', Decimal('9.64'), Decimal('187.20'), ''),
 (2000, 'SUBARU', Decimal('10.71'), Decimal('214.25'), ''),
 (2000, 'SUZUKI', Decimal('9.48'), Decimal('196.77'), ''),
 (2000, 'CHEVROLET', Decimal('13.99'), Decimal('279.51'), 'Higher than average'),
 (2000, 'NISSAN', Decimal('13.47'), Decimal('275.16'), 'Higher than average'),
 (2000, 'HONDA', Decimal('9.90'), Decimal('199.82'), ''),
 (2000, 'SAAB', Decimal('12.06'), Decimal('234.33'), ''),
 (2000, 'DODGE', Decimal('16.96'), Decimal('324.83'), 'Higher than average'),
 (2000, 'CADILLAC', Decimal('14.80'), Decimal('284.00'), 'Higher than average'),
 (2000, 'TOYOTA', Decimal('11.63'), Decimal('237.47'), ''),
 (2000, 'MERCEDES-BENZ', Decimal('12.95'), Decimal('254.82'), 'Higher than average'),
 (2000, 'PLYMOUTH', Decimal('13.80'), Decimal('271.00'), 'Higher than average'),
 (2000, 'BMW', Decimal('13.11'), Decimal('254.72'), 'Higher than average'),
 (2000, 'HYUNDAI', Decimal('10.33'), Decimal('202.00'), ''),
 (2000, 'OLDSMOBILE', Decimal('11.88'), Decimal('228.60'), ''),
 (2000, 'FERRARI', Decimal('24.13'), Decimal('452.29'), 'Higher than average'),
 (2000, 'AUDI', Decimal('12.57'), Decimal('244.59'), ''),
 (2000, 'GMC', Decimal('15.96'), Decimal('321.39'), 'Higher than average'),
 (2000, 'INFINITI', Decimal('12.00'), Decimal('238.50'), ''),
 (2000, 'PORSCHE', Decimal('13.90'), Decimal('266.88'), 'Higher than average'),
 (2000, 'ACURA', Decimal('11.04'), Decimal('218.78'), ''),
 (2000, 'LEXUS', Decimal('13.36'), Decimal('267.86'), 'Higher than average'),
 (2000, 'VOLKSWAGEN', Decimal('10.33'), Decimal('208.94'), ''),
 (2000, 'PONTIAC', Decimal('11.15'), Decimal('215.24'), ''),
 (2000, 'MAZDA', Decimal('11.88'), Decimal('238.90'), ''),
 (2000, 'FORD', Decimal('14.42'), Decimal('285.58'), 'Higher than average'),
 (2000, 'ISUZU', Decimal('14.26'), Decimal('286.13'), 'Higher than average'),
 (2000, 'KIA', Decimal('10.83'), Decimal('229.00'), ''),
 (2001, 'CADILLAC', Decimal('13.95'), Decimal('262.25'), 'Higher than average'),
 (2001, 'PORSCHE', Decimal('14.11'), Decimal('271.00'), 'Higher than average'),
 (2001, 'TOYOTA', Decimal('11.66'), Decimal('238.03'), ''),
 (2001, 'BMW', Decimal('12.97'), Decimal('252.37'), 'Higher than average'),
 (2001, 'DAEWOO', Decimal('10.39'), Decimal('201.30'), ''),
 (2001, 'CHRYSLER', Decimal('11.97'), Decimal('233.88'), ''),
 (2001, 'VOLVO', Decimal('11.63'), Decimal('228.92'), ''),
 (2001, 'LINCOLN', Decimal('14.66'), Decimal('283.86'), 'Higher than average'),
 (2001, 'HYUNDAI', Decimal('10.38'), Decimal('204.00'), ''),
 (2001, 'MERCEDES-BENZ', Decimal('13.32'), Decimal('259.69'), 'Higher than average'),
 (2001, 'SAAB', Decimal('11.80'), Decimal('229.47'), ''),
 (2001, 'AUDI', Decimal('13.02'), Decimal('252.88'), 'Higher than average'),
 (2001, 'JEEP', Decimal('14.83'), Decimal('302.78'), 'Higher than average'),
 (2001, 'DODGE', Decimal('17.51'), Decimal('338.91'), 'Higher than average'),
 (2001, 'PONTIAC', Decimal('11.95'), Decimal('229.79'), ''),
 (2001, 'LEXUS', Decimal('13.58'), Decimal('272.00'), 'Higher than average'),
 (2001, 'JAGUAR', Decimal('13.92'), Decimal('271.80'), 'Higher than average'),
 (2001, 'NISSAN', Decimal('13.02'), Decimal('266.39'), 'Higher than average'),
 (2001, 'HONDA', Decimal('9.68'), Decimal('196.14'), ''),
 (2001, 'PLYMOUTH', Decimal('13.80'), Decimal('274.00'), 'Higher than average'),
 (2001, 'CHEVROLET', Decimal('14.22'), Decimal('280.35'), 'Higher than average'),
 (2001, 'INFINITI', Decimal('12.26'), Decimal('244.80'), ''),
 (2001, 'ACURA', Decimal('11.26'), Decimal('222.55'), ''),
 (2001, 'SATURN', Decimal('9.57'), Decimal('186.80'), ''),
 (2001, 'SUBARU', Decimal('10.78'), Decimal('216.62'), ''),
 (2001, 'SUZUKI', Decimal('10.06'), Decimal('209.13'), ''),
 (2001, 'ISUZU', Decimal('15.15'), Decimal('305.75'), 'Higher than average'),
 (2001, 'KIA', Decimal('11.01'), Decimal('222.20'), ''),
 (2001, 'FORD', Decimal('14.03'), Decimal('277.41'), 'Higher than average'),
 (2001, 'OLDSMOBILE', Decimal('12.20'), Decimal('234.86'), ''),
 (2001, 'BUICK', Decimal('12.43'), Decimal('234.67'), ''),
 (2001, 'GMC', Decimal('16.24'), Decimal('321.05'), 'Higher than average'),
 (2001, 'MAZDA', Decimal('11.90'), Decimal('239.83'), ''),
 (2001, 'VOLKSWAGEN', Decimal('10.22'), Decimal('206.37'), ''),
 (2002, 'OLDSMOBILE', Decimal('12.31'), Decimal('238.44'), ''),
 (2002, 'MAZDA', Decimal('11.79'), Decimal('238.39'), ''),
 (2002, 'AUDI', Decimal('13.20'), Decimal('255.46'), 'Higher than average'),
 (2002, 'FORD', Decimal('13.97'), Decimal('277.15'), 'Higher than average'),
 (2002, 'VOLKSWAGEN', Decimal('10.18'), Decimal('205.82'), ''),
 (2002, 'MERCEDES-BENZ', Decimal('13.51'), Decimal('265.00'), 'Higher than average'),
 (2002, 'CADILLAC', Decimal('16.20'), Decimal('314.60'), 'Higher than average'),
 (2002, 'HYUNDAI', Decimal('10.58'), Decimal('208.08'), ''),
 (2002, 'CHEVROLET', Decimal('15.44'), Decimal('292.91'), 'Higher than average'),
 (2002, 'NISSAN', Decimal('13.02'), Decimal('265.96'), 'Higher than average'),
 (2002, 'LINCOLN', Decimal('14.54'), Decimal('282.50'), 'Higher than average'),
 (2002, 'INFINITI', Decimal('12.34'), Decimal('244.60'), ''),
 (2002, 'DODGE', Decimal('17.23'), Decimal('336.05'), 'Higher than average'),
 (2002, 'LAND ROVER', Decimal('19.05'), Decimal('385.00'), 'Higher than average'),
 (2002, 'SUZUKI', Decimal('10.95'), Decimal('228.55'), ''),
 (2002, 'HONDA', Decimal('9.32'), Decimal('188.77'), ''),
 (2002, 'BUICK', Decimal('12.44'), Decimal('239.38'), ''),
 (2002, 'BMW', Decimal('12.86'), Decimal('250.16'), 'Higher than average'),
 (2002, 'CHRYSLER', Decimal('11.88'), Decimal('232.95'), ''),
 (2002, 'TOYOTA', Decimal('11.31'), Decimal('229.73'), ''),
 (2002, 'PONTIAC', Decimal('11.96'), Decimal('231.00'), ''),
 (2002, 'ACURA', Decimal('11.19'), Decimal('220.55'), ''),
 (2002, 'ISUZU', Decimal('15.15'), Decimal('305.75'), 'Higher than average'),
 (2002, 'DAEWOO', Decimal('10.74'), Decimal('208.21'), ''),
 (2002, 'VOLVO', Decimal('11.62'), Decimal('229.77'), ''),
 (2002, 'GMC', Decimal('17.41'), Decimal('328.33'), 'Higher than average'),
 (2002, 'JEEP', Decimal('15.29'), Decimal('311.14'), 'Higher than average'),
 (2002, 'ROLLS-ROYCE', Decimal('19.70'), Decimal('387.33'), 'Higher than average'),
 (2002, 'SATURN', Decimal('10.11'), Decimal('198.33'), ''),
 (2002, 'JAGUAR', Decimal('13.56'), Decimal('263.86'), 'Higher than average'),
 (2002, 'BENTLEY', Decimal('21.03'), Decimal('407.83'), 'Higher than average'),
 (2002, 'KIA', Decimal('11.56'), Decimal('233.89'), ''),
 (2002, 'SUBARU', Decimal('11.39'), Decimal('227.31'), ''),
 (2002, 'FERRARI', Decimal('22.20'), Decimal('422.00'), 'Higher than average'),
 (2002, 'SAAB', Decimal('11.71'), Decimal('225.80'), ''),
 (2002, 'LEXUS', Decimal('13.39'), Decimal('265.50'), 'Higher than average'),
 (2002, 'PORSCHE', Decimal('13.76'), Decimal('265.41'), 'Higher than average'),
 (2003, 'INFINITI', Decimal('13.38'), Decimal('264.20'), 'Higher than average'),
 (2003, 'SUBARU', Decimal('11.42'), Decimal('228.16'), ''),
 (2003, 'DODGE', Decimal('15.61'), Decimal('300.09'), 'Higher than average'),
 (2003, 'BENTLEY', Decimal('21.82'), Decimal('422.80'), 'Higher than average'),
 (2003, 'SUZUKI', Decimal('10.35'), Decimal('214.39'), ''),
 (2003, 'PORSCHE', Decimal('14.09'), Decimal('271.68'), 'Higher than average'),
 (2003, 'MASERATI', Decimal('20.75'), Decimal('395.50'), 'Higher than average'),
 (2003, 'CADILLAC', Decimal('15.63'), Decimal('304.00'), 'Higher than average'),
 (2003, 'MAZDA', Decimal('12.05'), Decimal('240.29'), ''),
 (2003, 'TOYOTA', Decimal('11.14'), Decimal('226.80'), ''),
 (2003, 'MINI', Decimal('8.93'), Decimal('177.00'), ''),
 (2003, 'FERRARI', Decimal('24.50'), Decimal('456.71'), 'Higher than average'),
 (2003, 'PONTIAC', Decimal('11.02'), Decimal('215.28'), ''),
 (2003, 'LAND ROVER', Decimal('16.63'), Decimal('334.50'), 'Higher than average'),
 (2003, 'HYUNDAI', Decimal('10.83'), Decimal('213.47'), ''),
 (2003, 'KIA', Decimal('11.87'), Decimal('236.27'), ''),
 (2003, 'CHEVROLET', Decimal('15.94'), Decimal('307.45'), 'Higher than average'),
 (2003, 'JEEP', Decimal('13.83'), Decimal('283.00'), 'Higher than average'),
 (2003, 'ACURA', Decimal('11.28'), Decimal('221.25'), ''),
 (2003, 'LINCOLN', Decimal('13.60'), Decimal('266.67'), 'Higher than average'),
 (2003, 'NISSAN', Decimal('12.54'), Decimal('254.68'), 'Higher than average'),
 (2003, 'LEXUS', Decimal('13.42'), Decimal('265.00'), 'Higher than average'),
 (2003, 'AUDI', Decimal('12.54'), Decimal('244.17'), ''),
 (2003, 'MITSUBISHI', Decimal('11.70'), Decimal('233.89'), ''),
 (2003, 'HONDA', Decimal('9.64'), Decimal('195.47'), ''),
 (2003, 'JAGUAR', Decimal('13.54'), Decimal('261.50'), 'Higher than average'),
 (2003, 'VOLKSWAGEN', Decimal('10.28'), Decimal('207.39'), ''),
 (2003, 'SATURN', Decimal('10.83'), Decimal('214.23'), ''),
 (2003, 'GMC', Decimal('17.36'), Decimal('332.91'), 'Higher than average'),
 (2003, 'MERCEDES-BENZ', Decimal('13.26'), Decimal('262.03'), 'Higher than average'),
 (2003, 'FORD', Decimal('14.08'), Decimal('278.38'), 'Higher than average'),
 (2003, 'OLDSMOBILE', Decimal('12.21'), Decimal('238.00'), ''),
 (2003, 'ISUZU', Decimal('16.35'), Decimal('325.50'), 'Higher than average'),
 (2003, 'CHRYSLER', Decimal('12.40'), Decimal('234.68'), ''),
 (2003, 'BMW', Decimal('12.92'), Decimal('250.88'), 'Higher than average'),
 (2003, 'SAAB', Decimal('11.40'), Decimal('218.94'), ''),
 (2003, 'BUICK', Decimal('12.46'), Decimal('238.13'), ''),
 (2003, 'VOLVO', Decimal('11.92'), Decimal('234.59'), ''),
 (2004, 'CHRYSLER', Decimal('11.98'), Decimal('232.63'), ''),
 (2004, 'SATURN', Decimal('10.74'), Decimal('211.42'), ''),
 (2004, 'KIA', Decimal('12.16'), Decimal('240.10'), ''),
 (2004, 'DODGE', Decimal('14.84'), Decimal('293.00'), 'Higher than average'),
 (2004, 'INFINITI', Decimal('13.25'), Decimal('260.50'), 'Higher than average'),
 (2004, 'SAAB', Decimal('11.69'), Decimal('224.30'), ''),
 (2004, 'CADILLAC', Decimal('15.20'), Decimal('295.75'), 'Higher than average'),
 (2004, 'LINCOLN', Decimal('13.87'), Decimal('271.00'), 'Higher than average'),
 (2004, 'HYUNDAI', Decimal('11.12'), Decimal('219.94'), ''),
 (2004, 'MAZDA', Decimal('11.69'), Decimal('235.04'), ''),
 (2004, 'MASERATI', Decimal('20.45'), Decimal('392.00'), 'Higher than average'),
 (2004, 'FORD', Decimal('14.52'), Decimal('280.87'), 'Higher than average'),
 (2004, 'TOYOTA', Decimal('11.16'), Decimal('226.12'), ''),
 (2004, 'FERRARI', Decimal('23.04'), Decimal('430.56'), 'Higher than average'),
 (2004, 'JAGUAR', Decimal('13.35'), Decimal('256.47'), 'Higher than average'),
 (2004, 'MINI', Decimal('8.93'), Decimal('177.00'), ''),
 (2004, 'ACURA', Decimal('10.71'), Decimal('211.58'), ''),
 (2004, 'VOLVO', Decimal('12.06'), Decimal('236.50'), ''),
 (2004, 'BUICK', Decimal('13.61'), Decimal('265.31'), 'Higher than average'),
 (2004, 'PONTIAC', Decimal('10.88'), Decimal('212.94'), ''),
 (2004, 'MITSUBISHI', Decimal('11.77'), Decimal('233.28'), ''),
 (2004, 'LEXUS', Decimal('13.19'), Decimal('260.36'), 'Higher than average'),
 (2004, 'MERCEDES-BENZ', Decimal('13.95'), Decimal('273.97'), 'Higher than average'),
 (2004, 'ROLLS-ROYCE', Decimal('18.80'), Decimal('359.00'), 'Higher than average'),
 (2004, 'BMW', Decimal('12.68'), Decimal('244.30'), ''),
 (2004, 'JEEP', Decimal('14.13'), Decimal('285.00'), 'Higher than average'),
 (2004, 'HONDA', Decimal('9.80'), Decimal('198.70'), ''),
 (2004, 'AUDI', Decimal('12.59'), Decimal('246.30'), ''),
 (2004, 'CHEVROLET', Decimal('16.11'), Decimal('304.95'), 'Higher than average'),
 (2004, 'VOLKSWAGEN', Decimal('10.57'), Decimal('212.38'), ''),
 (2004, 'LAND ROVER', Decimal('16.63'), Decimal('334.50'), 'Higher than average'),
 (2004, 'OLDSMOBILE', Decimal('11.90'), Decimal('232.33'), ''),
 (2004, 'BENTLEY', Decimal('22.90'), Decimal('444.00'), 'Higher than average'),
 (2004, 'SUBARU', Decimal('11.56'), Decimal('229.68'), ''),
 (2004, 'GMC', Decimal('17.40'), Decimal('331.87'), 'Higher than average'),
 (2004, 'SUZUKI', Decimal('10.99'), Decimal('223.73'), ''),
 (2004, 'PORSCHE', Decimal('17.70'), Decimal('355.00'), 'Higher than average'),
 (2004, 'NISSAN', Decimal('13.03'), Decimal('261.47'), 'Higher than average'),
 (2005, 'BMW', Decimal('12.76'), Decimal('245.52'), ''),
 (2005, 'LINCOLN', Decimal('13.73'), Decimal('268.67'), 'Higher than average'),
 (2005, 'DODGE', Decimal('15.95'), Decimal('298.00'), 'Higher than average'),
 (2005, 'HYUNDAI', Decimal('11.32'), Decimal('224.25'), ''),
 (2005, 'MASERATI', Decimal('20.22'), Decimal('390.80'), 'Higher than average'),
 (2005, 'GMC', Decimal('16.74'), Decimal('320.54'), 'Higher than average'),
 (2005, 'BENTLEY', Decimal('22.20'), Decimal('425.67'), 'Higher than average'),
 (2005, 'JEEP', Decimal('14.79'), Decimal('301.91'), 'Higher than average'),
 (2005, 'LEXUS', Decimal('13.33'), Decimal('264.54'), 'Higher than average'),
 (2005, 'SMART', Decimal('4.60'), Decimal('113.00'), ''),
 (2005, 'SAAB', Decimal('11.73'), Decimal('227.96'), ''),
 (2005, 'HONDA', Decimal('9.27'), Decimal('186.37'), ''),
 (2005, 'MAZDA', Decimal('11.68'), Decimal('235.19'), ''),
 (2005, 'MITSUBISHI', Decimal('11.40'), Decimal('226.77'), ''),
 (2005, 'SUZUKI', Decimal('10.53'), Decimal('211.36'), ''),
 (2005, 'CADILLAC', Decimal('15.53'), Decimal('298.94'), 'Higher than average'),
 (2005, 'TOYOTA', Decimal('10.61'), Decimal('214.41'), ''),
 (2005, 'JAGUAR', Decimal('13.22'), Decimal('254.43'), 'Higher than average'),
 (2005, 'BUICK', Decimal('13.12'), Decimal('253.93'), 'Higher than average'),
 (2005, 'FERRARI', Decimal('22.71'), Decimal('425.25'), 'Higher than average'),
 (2005, 'CHEVROLET', Decimal('15.31'), Decimal('291.69'), 'Higher than average'),
 (2005, 'LAND ROVER', Decimal('16.65'), Decimal('333.25'), 'Higher than average'),
 (2005, 'SATURN', Decimal('11.31'), Decimal('223.92'), ''),
 (2005, 'NISSAN', Decimal('12.18'), Decimal('243.09'), ''),
 (2005, 'VOLKSWAGEN', Decimal('10.57'), Decimal('213.92'), ''),
 (2005, 'ACURA', Decimal('11.02'), Decimal('216.23'), ''),
 (2005, 'ROLLS-ROYCE', Decimal('18.80'), Decimal('359.00'), 'Higher than average'),
 (2005, 'AUDI', Decimal('12.71'), Decimal('248.06'), ''),
 (2005, 'KIA', Decimal('11.84'), Decimal('235.47'), ''),
 (2005, 'VOLVO', Decimal('11.95'), Decimal('234.37'), ''),
 (2005, 'MINI', Decimal('9.02'), Decimal('180.17'), ''),
 (2005, 'CHRYSLER', Decimal('12.27'), Decimal('239.72'), ''),
 (2005, 'SUBARU', Decimal('11.30'), Decimal('226.03'), ''),
 (2005, 'PORSCHE', Decimal('14.51'), Decimal('279.22'), 'Higher than average'),
 (2005, 'MERCEDES-BENZ', Decimal('14.45'), Decimal('283.09'), 'Higher than average'),
 (2005, 'FORD', Decimal('13.57'), Decimal('261.84'), 'Higher than average'),
 (2005, 'INFINITI', Decimal('14.10'), Decimal('278.38'), 'Higher than average'),
 (2005, 'PONTIAC', Decimal('11.06'), Decimal('215.42'), ''),
 (2006, 'MERCEDES-BENZ', Decimal('14.19'), Decimal('276.66'), 'Higher than average'),
 (2006, 'SUZUKI', Decimal('10.48'), Decimal('208.69'), ''),
 (2006, 'MINI', Decimal('9.26'), Decimal('184.13'), ''),
 (2006, 'PORSCHE', Decimal('13.94'), Decimal('270.26'), 'Higher than average'),
 (2006, 'CADILLAC', Decimal('14.81'), Decimal('285.17'), 'Higher than average'),
 (2006, 'MASERATI', Decimal('18.69'), Decimal('356.57'), 'Higher than average'),
 (2006, 'SATURN', Decimal('11.03'), Decimal('217.17'), ''),
 (2006, 'DODGE', Decimal('16.29'), Decimal('302.74'), 'Higher than average'),
 (2006, 'LEXUS', Decimal('11.96'), Decimal('239.12'), ''),
 (2006, 'GMC', Decimal('15.82'), Decimal('304.47'), 'Higher than average'),
 (2006, 'CHEVROLET', Decimal('14.52'), Decimal('277.76'), 'Higher than average'),
 (2006, 'INFINITI', Decimal('13.47'), Decimal('265.11'), 'Higher than average'),
 (2006, 'HUMMER', Decimal('15.15'), Decimal('307.00'), 'Higher than average'),
 (2006, 'FERRARI', Decimal('20.13'), Decimal('384.17'), 'Higher than average'),
 (2006, 'ACURA', Decimal('10.77'), Decimal('210.91'), ''),
 (2006, 'ROLLS-ROYCE', Decimal('18.80'), Decimal('359.00'), 'Higher than average'),
 (2006, 'PONTIAC', Decimal('11.21'), Decimal('218.56'), ''),
 (2006, 'SMART', Decimal('4.60'), Decimal('113.00'), ''),
 (2006, 'NISSAN', Decimal('12.47'), Decimal('249.00'), ''),
 (2006, 'HYUNDAI', Decimal('10.77'), Decimal('213.82'), ''),
 (2006, 'MAZDA', Decimal('11.47'), Decimal('230.03'), ''),
 (2006, 'FORD', Decimal('12.93'), Decimal('258.31'), 'Higher than average'),
 (2006, 'SAAB', Decimal('12.55'), Decimal('240.50'), ''),
 (2006, 'LINCOLN', Decimal('14.33'), Decimal('280.83'), 'Higher than average'),
 (2006, 'KIA', Decimal('11.55'), Decimal('229.60'), ''),
 (2006, 'JEEP', Decimal('15.27'), Decimal('310.40'), 'Higher than average'),
 (2006, 'JAGUAR', Decimal('12.03'), Decimal('227.06'), ''),
 (2006, 'MITSUBISHI', Decimal('11.55'), Decimal('229.82'), ''),
 (2006, 'VOLVO', Decimal('11.82'), Decimal('231.11'), ''),
 (2006, 'BMW', Decimal('13.14'), Decimal('253.02'), 'Higher than average'),
 (2006, 'CHRYSLER', Decimal('12.24'), Decimal('239.16'), ''),
 (2006, 'HONDA', Decimal('10.33'), Decimal('207.10'), ''),
 (2006, 'VOLKSWAGEN', Decimal('10.38'), Decimal('211.63'), ''),
 (2006, 'LAND ROVER', Decimal('17.27'), Decimal('338.83'), 'Higher than average'),
 (2006, 'SUBARU', Decimal('11.28'), Decimal('226.18'), ''),
 (2006, 'BENTLEY', Decimal('21.85'), Decimal('415.25'), 'Higher than average'),
 (2006, 'TOYOTA', Decimal('11.03'), Decimal('222.94'), ''),
 (2006, 'BUICK', Decimal('13.34'), Decimal('259.54'), 'Higher than average'),
 (2006, 'AUDI', Decimal('12.71'), Decimal('247.56'), ''),
 (2007, 'LINCOLN', Decimal('13.95'), Decimal('272.17'), 'Higher than average'),
 (2007, 'HONDA', Decimal('10.35'), Decimal('206.96'), ''),
 (2007, 'CADILLAC', Decimal('14.78'), Decimal('279.67'), 'Higher than average'),
 (2007, 'ASTON MARTIN', Decimal('18.85'), Decimal('356.50'), 'Higher than average'),
 (2007, 'CHRYSLER', Decimal('12.57'), Decimal('240.65'), ''),
 (2007, 'TOYOTA', Decimal('10.99'), Decimal('223.94'), ''),
 (2007, 'ROLLS-ROYCE', Decimal('18.10'), Decimal('347.00'), 'Higher than average'),
 (2007, 'HUMMER', Decimal('16.00'), Decimal('319.50'), 'Higher than average'),
 (2007, 'FORD', Decimal('13.59'), Decimal('261.63'), 'Higher than average'),
 (2007, 'LEXUS', Decimal('11.84'), Decimal('237.88'), ''),
 (2007, 'SUZUKI', Decimal('10.39'), Decimal('209.29'), ''),
 (2007, 'SATURN', Decimal('11.40'), Decimal('218.91'), ''),
 (2007, 'SUBARU', Decimal('11.24'), Decimal('224.86'), ''),
 (2007, 'INFINITI', Decimal('13.73'), Decimal('270.36'), 'Higher than average'),
 (2007, 'KIA', Decimal('10.89'), Decimal('217.39'), ''),
 (2007, 'AUDI', Decimal('13.20'), Decimal('256.28'), 'Higher than average'),
 (2007, 'DODGE', Decimal('14.97'), Decimal('275.69'), 'Higher than average'),
 (2007, 'JAGUAR', Decimal('13.27'), Decimal('256.21'), 'Higher than average'),
 (2007, 'VOLKSWAGEN', Decimal('10.97'), Decimal('215.69'), ''),
 (2007, 'SAAB', Decimal('12.64'), Decimal('239.83'), ''),
 (2007, 'FERRARI', Decimal('20.41'), Decimal('392.75'), 'Higher than average'),
 (2007, 'BUICK', Decimal('13.80'), Decimal('255.10'), 'Higher than average'),
 (2007, 'VOLVO', Decimal('12.03'), Decimal('234.76'), ''),
 (2007, 'MINI', Decimal('8.84'), Decimal('177.00'), ''),
 (2007, 'MAZDA', Decimal('11.58'), Decimal('231.68'), ''),
 (2007, 'NISSAN', Decimal('11.92'), Decimal('239.65'), ''),
 (2007, 'JEEP', Decimal('13.47'), Decimal('265.70'), 'Higher than average'),

***To make thing easier first we will create view. ***

In [35]:
%%sql

CREATE VIEW filter1 AS(
WITH yearly_stats AS (
  SELECT years, make,
         ROUND(AVG(fuel_consumption)::numeric,2) AS avg_fuel_consumption, 
         ROUND(AVG(emissions)::numeric,2) AS avg_emissions
  FROM cars
  GROUP BY years, make
),
highlighted_maker AS (
SELECT years, make,
        avg_fuel_consumption, avg_emissions, 
        CASE WHEN avg_emissions > (SELECT AVG(emissions) FROM cars) THEN 'Higher than average'
        ELSE '' 
        END AS em_highlight
FROM yearly_stats
ORDER BY years
)
SELECT years, make,
        avg_fuel_consumption, 
        avg_emissions,
        em_highlight
FROM highlighted_maker
);

 * postgresql://postgres:***@localhost:5432/cars
Done.

[]

***Insight***

***Now, we can highlight car maker with higher average emission compared to overall average emission.***

In [11]:
%%sql
SELECT years, make,
        avg_fuel_consumption, 
        avg_emissions,
        em_highlight
FROM filter1

 * postgresql://postgres:***@localhost:5432/cars
891 rows affected.

[(2000, 'VOLVO', Decimal('12.17'), Decimal('238.05'), ''),
 (2000, 'LINCOLN', Decimal('14.77'), Decimal('286.00'), 'Higher than average'),
 (2000, 'JAGUAR', Decimal('14.08'), Decimal('273.70'), 'Higher than average'),
 (2000, 'LAND ROVER', Decimal('18.30'), Decimal('367.25'), 'Higher than average'),
 (2000, 'CHRYSLER', Decimal('12.09'), Decimal('235.32'), ''),
 (2000, 'JEEP', Decimal('14.79'), Decimal('301.63'), 'Higher than average'),
 (2000, 'DAEWOO', Decimal('10.39'), Decimal('200.80'), ''),
 (2000, 'BUICK', Decimal('12.62'), Decimal('238.17'), ''),
 (2000, 'SATURN', Decimal('9.64'), Decimal('187.20'), ''),
 (2000, 'SUBARU', Decimal('10.71'), Decimal('214.25'), ''),
 (2000, 'SUZUKI', Decimal('9.48'), Decimal('196.77'), ''),
 (2000, 'CHEVROLET', Decimal('13.99'), Decimal('279.51'), 'Higher than average'),
 (2000, 'NISSAN', Decimal('13.47'), Decimal('275.16'), 'Higher than average'),
 (2000, 'HONDA', Decimal('9.90'), Decimal('199.82'), ''),
 (2000, 'SAAB', Decimal('12.06'), Decimal('234.33'), ''),
 (2000, 'DODGE', Decimal('16.96'), Decimal('324.83'), 'Higher than average'),
 (2000, 'CADILLAC', Decimal('14.80'), Decimal('284.00'), 'Higher than average'),
 (2000, 'TOYOTA', Decimal('11.63'), Decimal('237.47'), ''),
 (2000, 'MERCEDES-BENZ', Decimal('12.95'), Decimal('254.82'), 'Higher than average'),
 (2000, 'PLYMOUTH', Decimal('13.80'), Decimal('271.00'), 'Higher than average'),
 (2000, 'BMW', Decimal('13.11'), Decimal('254.72'), 'Higher than average'),
 (2000, 'HYUNDAI', Decimal('10.33'), Decimal('202.00'), ''),
 (2000, 'OLDSMOBILE', Decimal('11.88'), Decimal('228.60'), ''),
 (2000, 'FERRARI', Decimal('24.13'), Decimal('452.29'), 'Higher than average'),
 (2000, 'AUDI', Decimal('12.57'), Decimal('244.59'), ''),
 (2000, 'GMC', Decimal('15.96'), Decimal('321.39'), 'Higher than average'),
 (2000, 'INFINITI', Decimal('12.00'), Decimal('238.50'), ''),
 (2000, 'PORSCHE', Decimal('13.90'), Decimal('266.88'), 'Higher than average'),
 (2000, 'ACURA', Decimal('11.04'), Decimal('218.78'), ''),
 (2000, 'LEXUS', Decimal('13.36'), Decimal('267.86'), 'Higher than average'),
 (2000, 'VOLKSWAGEN', Decimal('10.33'), Decimal('208.94'), ''),
 (2000, 'PONTIAC', Decimal('11.15'), Decimal('215.24'), ''),
 (2000, 'MAZDA', Decimal('11.88'), Decimal('238.90'), ''),
 (2000, 'FORD', Decimal('14.42'), Decimal('285.58'), 'Higher than average'),
 (2000, 'ISUZU', Decimal('14.26'), Decimal('286.13'), 'Higher than average'),
 (2000, 'KIA', Decimal('10.83'), Decimal('229.00'), ''),
 (2001, 'CADILLAC', Decimal('13.95'), Decimal('262.25'), 'Higher than average'),
 (2001, 'PORSCHE', Decimal('14.11'), Decimal('271.00'), 'Higher than average'),
 (2001, 'TOYOTA', Decimal('11.66'), Decimal('238.03'), ''),
 (2001, 'BMW', Decimal('12.97'), Decimal('252.37'), 'Higher than average'),
 (2001, 'DAEWOO', Decimal('10.39'), Decimal('201.30'), ''),
 (2001, 'CHRYSLER', Decimal('11.97'), Decimal('233.88'), ''),
 (2001, 'VOLVO', Decimal('11.63'), Decimal('228.92'), ''),
 (2001, 'LINCOLN', Decimal('14.66'), Decimal('283.86'), 'Higher than average'),
 (2001, 'HYUNDAI', Decimal('10.38'), Decimal('204.00'), ''),
 (2001, 'MERCEDES-BENZ', Decimal('13.32'), Decimal('259.69'), 'Higher than average'),
 (2001, 'SAAB', Decimal('11.80'), Decimal('229.47'), ''),
 (2001, 'AUDI', Decimal('13.02'), Decimal('252.88'), 'Higher than average'),
 (2001, 'JEEP', Decimal('14.83'), Decimal('302.78'), 'Higher than average'),
 (2001, 'DODGE', Decimal('17.51'), Decimal('338.91'), 'Higher than average'),
 (2001, 'PONTIAC', Decimal('11.95'), Decimal('229.79'), ''),
 (2001, 'LEXUS', Decimal('13.58'), Decimal('272.00'), 'Higher than average'),
 (2001, 'JAGUAR', Decimal('13.92'), Decimal('271.80'), 'Higher than average'),
 (2001, 'NISSAN', Decimal('13.02'), Decimal('266.39'), 'Higher than average'),
 (2001, 'HONDA', Decimal('9.68'), Decimal('196.14'), ''),
 (2001, 'PLYMOUTH', Decimal('13.80'), Decimal('274.00'), 'Higher than average'),
 (2001, 'CHEVROLET', Decimal('14.22'), Decimal('280.35'), 'Higher than average'),
 (2001, 'INFINITI', Decimal('12.26'), Decimal('244.80'), ''),
 (2001, 'ACURA', Decimal('11.26'), Decimal('222.55'), ''),
 (2001, 'SATURN', Decimal('9.57'), Decimal('186.80'), ''),
 (2001, 'SUBARU', Decimal('10.78'), Decimal('216.62'), ''),
 (2001, 'SUZUKI', Decimal('10.06'), Decimal('209.13'), ''),
 (2001, 'ISUZU', Decimal('15.15'), Decimal('305.75'), 'Higher than average'),
 (2001, 'KIA', Decimal('11.01'), Decimal('222.20'), ''),
 (2001, 'FORD', Decimal('14.03'), Decimal('277.41'), 'Higher than average'),
 (2001, 'OLDSMOBILE', Decimal('12.20'), Decimal('234.86'), ''),
 (2001, 'BUICK', Decimal('12.43'), Decimal('234.67'), ''),
 (2001, 'GMC', Decimal('16.24'), Decimal('321.05'), 'Higher than average'),
 (2001, 'MAZDA', Decimal('11.90'), Decimal('239.83'), ''),
 (2001, 'VOLKSWAGEN', Decimal('10.22'), Decimal('206.37'), ''),
 (2002, 'OLDSMOBILE', Decimal('12.31'), Decimal('238.44'), ''),
 (2002, 'MAZDA', Decimal('11.79'), Decimal('238.39'), ''),
 (2002, 'AUDI', Decimal('13.20'), Decimal('255.46'), 'Higher than average'),
 (2002, 'FORD', Decimal('13.97'), Decimal('277.15'), 'Higher than average'),
 (2002, 'VOLKSWAGEN', Decimal('10.18'), Decimal('205.82'), ''),
 (2002, 'MERCEDES-BENZ', Decimal('13.51'), Decimal('265.00'), 'Higher than average'),
 (2002, 'CADILLAC', Decimal('16.20'), Decimal('314.60'), 'Higher than average'),
 (2002, 'HYUNDAI', Decimal('10.58'), Decimal('208.08'), ''),
 (2002, 'CHEVROLET', Decimal('15.44'), Decimal('292.91'), 'Higher than average'),
 (2002, 'NISSAN', Decimal('13.02'), Decimal('265.96'), 'Higher than average'),
 (2002, 'LINCOLN', Decimal('14.54'), Decimal('282.50'), 'Higher than average'),
 (2002, 'INFINITI', Decimal('12.34'), Decimal('244.60'), ''),
 (2002, 'DODGE', Decimal('17.23'), Decimal('336.05'), 'Higher than average'),
 (2002, 'LAND ROVER', Decimal('19.05'), Decimal('385.00'), 'Higher than average'),
 (2002, 'SUZUKI', Decimal('10.95'), Decimal('228.55'), ''),
 (2002, 'HONDA', Decimal('9.32'), Decimal('188.77'), ''),
 (2002, 'BUICK', Decimal('12.44'), Decimal('239.38'), ''),
 (2002, 'BMW', Decimal('12.86'), Decimal('250.16'), 'Higher than average'),
 (2002, 'CHRYSLER', Decimal('11.88'), Decimal('232.95'), ''),
 (2002, 'TOYOTA', Decimal('11.31'), Decimal('229.73'), ''),
 (2002, 'PONTIAC', Decimal('11.96'), Decimal('231.00'), ''),
 (2002, 'ACURA', Decimal('11.19'), Decimal('220.55'), ''),
 (2002, 'ISUZU', Decimal('15.15'), Decimal('305.75'), 'Higher than average'),
 (2002, 'DAEWOO', Decimal('10.74'), Decimal('208.21'), ''),
 (2002, 'VOLVO', Decimal('11.62'), Decimal('229.77'), ''),
 (2002, 'GMC', Decimal('17.41'), Decimal('328.33'), 'Higher than average'),
 (2002, 'JEEP', Decimal('15.29'), Decimal('311.14'), 'Higher than average'),
 (2002, 'ROLLS-ROYCE', Decimal('19.70'), Decimal('387.33'), 'Higher than average'),
 (2002, 'SATURN', Decimal('10.11'), Decimal('198.33'), ''),
 (2002, 'JAGUAR', Decimal('13.56'), Decimal('263.86'), 'Higher than average'),
 (2002, 'BENTLEY', Decimal('21.03'), Decimal('407.83'), 'Higher than average'),
 (2002, 'KIA', Decimal('11.56'), Decimal('233.89'), ''),
 (2002, 'SUBARU', Decimal('11.39'), Decimal('227.31'), ''),
 (2002, 'FERRARI', Decimal('22.20'), Decimal('422.00'), 'Higher than average'),
 (2002, 'SAAB', Decimal('11.71'), Decimal('225.80'), ''),
 (2002, 'LEXUS', Decimal('13.39'), Decimal('265.50'), 'Higher than average'),
 (2002, 'PORSCHE', Decimal('13.76'), Decimal('265.41'), 'Higher than average'),
 (2003, 'INFINITI', Decimal('13.38'), Decimal('264.20'), 'Higher than average'),
 (2003, 'SUBARU', Decimal('11.42'), Decimal('228.16'), ''),
 (2003, 'DODGE', Decimal('15.61'), Decimal('300.09'), 'Higher than average'),
 (2003, 'BENTLEY', Decimal('21.82'), Decimal('422.80'), 'Higher than average'),
 (2003, 'SUZUKI', Decimal('10.35'), Decimal('214.39'), ''),
 (2003, 'PORSCHE', Decimal('14.09'), Decimal('271.68'), 'Higher than average'),
 (2003, 'MASERATI', Decimal('20.75'), Decimal('395.50'), 'Higher than average'),
 (2003, 'CADILLAC', Decimal('15.63'), Decimal('304.00'), 'Higher than average'),
 (2003, 'MAZDA', Decimal('12.05'), Decimal('240.29'), ''),
 (2003, 'TOYOTA', Decimal('11.14'), Decimal('226.80'), ''),
 (2003, 'MINI', Decimal('8.93'), Decimal('177.00'), ''),
 (2003, 'FERRARI', Decimal('24.50'), Decimal('456.71'), 'Higher than average'),
 (2003, 'PONTIAC', Decimal('11.02'), Decimal('215.28'), ''),
 (2003, 'LAND ROVER', Decimal('16.63'), Decimal('334.50'), 'Higher than average'),
 (2003, 'HYUNDAI', Decimal('10.83'), Decimal('213.47'), ''),
 (2003, 'KIA', Decimal('11.87'), Decimal('236.27'), ''),
 (2003, 'CHEVROLET', Decimal('15.94'), Decimal('307.45'), 'Higher than average'),
 (2003, 'JEEP', Decimal('13.83'), Decimal('283.00'), 'Higher than average'),
 (2003, 'ACURA', Decimal('11.28'), Decimal('221.25'), ''),
 (2003, 'LINCOLN', Decimal('13.60'), Decimal('266.67'), 'Higher than average'),
 (2003, 'NISSAN', Decimal('12.54'), Decimal('254.68'), 'Higher than average'),
 (2003, 'LEXUS', Decimal('13.42'), Decimal('265.00'), 'Higher than average'),
 (2003, 'AUDI', Decimal('12.54'), Decimal('244.17'), ''),
 (2003, 'MITSUBISHI', Decimal('11.70'), Decimal('233.89'), ''),
 (2003, 'HONDA', Decimal('9.64'), Decimal('195.47'), ''),
 (2003, 'JAGUAR', Decimal('13.54'), Decimal('261.50'), 'Higher than average'),
 (2003, 'VOLKSWAGEN', Decimal('10.28'), Decimal('207.39'), ''),
 (2003, 'SATURN', Decimal('10.83'), Decimal('214.23'), ''),
 (2003, 'GMC', Decimal('17.36'), Decimal('332.91'), 'Higher than average'),
 (2003, 'MERCEDES-BENZ', Decimal('13.26'), Decimal('262.03'), 'Higher than average'),
 (2003, 'FORD', Decimal('14.08'), Decimal('278.38'), 'Higher than average'),
 (2003, 'OLDSMOBILE', Decimal('12.21'), Decimal('238.00'), ''),
 (2003, 'ISUZU', Decimal('16.35'), Decimal('325.50'), 'Higher than average'),
 (2003, 'CHRYSLER', Decimal('12.40'), Decimal('234.68'), ''),
 (2003, 'BMW', Decimal('12.92'), Decimal('250.88'), 'Higher than average'),
 (2003, 'SAAB', Decimal('11.40'), Decimal('218.94'), ''),
 (2003, 'BUICK', Decimal('12.46'), Decimal('238.13'), ''),
 (2003, 'VOLVO', Decimal('11.92'), Decimal('234.59'), ''),
 (2004, 'CHRYSLER', Decimal('11.98'), Decimal('232.63'), ''),
 (2004, 'SATURN', Decimal('10.74'), Decimal('211.42'), ''),
 (2004, 'KIA', Decimal('12.16'), Decimal('240.10'), ''),
 (2004, 'DODGE', Decimal('14.84'), Decimal('293.00'), 'Higher than average'),
 (2004, 'INFINITI', Decimal('13.25'), Decimal('260.50'), 'Higher than average'),
 (2004, 'SAAB', Decimal('11.69'), Decimal('224.30'), ''),
 (2004, 'CADILLAC', Decimal('15.20'), Decimal('295.75'), 'Higher than average'),
 (2004, 'LINCOLN', Decimal('13.87'), Decimal('271.00'), 'Higher than average'),
 (2004, 'HYUNDAI', Decimal('11.12'), Decimal('219.94'), ''),
 (2004, 'MAZDA', Decimal('11.69'), Decimal('235.04'), ''),
 (2004, 'MASERATI', Decimal('20.45'), Decimal('392.00'), 'Higher than average'),
 (2004, 'FORD', Decimal('14.52'), Decimal('280.87'), 'Higher than average'),
 (2004, 'TOYOTA', Decimal('11.16'), Decimal('226.12'), ''),
 (2004, 'FERRARI', Decimal('23.04'), Decimal('430.56'), 'Higher than average'),
 (2004, 'JAGUAR', Decimal('13.35'), Decimal('256.47'), 'Higher than average'),
 (2004, 'MINI', Decimal('8.93'), Decimal('177.00'), ''),
 (2004, 'ACURA', Decimal('10.71'), Decimal('211.58'), ''),
 (2004, 'VOLVO', Decimal('12.06'), Decimal('236.50'), ''),
 (2004, 'BUICK', Decimal('13.61'), Decimal('265.31'), 'Higher than average'),
 (2004, 'PONTIAC', Decimal('10.88'), Decimal('212.94'), ''),
 (2004, 'MITSUBISHI', Decimal('11.77'), Decimal('233.28'), ''),
 (2004, 'LEXUS', Decimal('13.19'), Decimal('260.36'), 'Higher than average'),
 (2004, 'MERCEDES-BENZ', Decimal('13.95'), Decimal('273.97'), 'Higher than average'),
 (2004, 'ROLLS-ROYCE', Decimal('18.80'), Decimal('359.00'), 'Higher than average'),
 (2004, 'BMW', Decimal('12.68'), Decimal('244.30'), ''),
 (2004, 'JEEP', Decimal('14.13'), Decimal('285.00'), 'Higher than average'),
 (2004, 'HONDA', Decimal('9.80'), Decimal('198.70'), ''),
 (2004, 'AUDI', Decimal('12.59'), Decimal('246.30'), ''),
 (2004, 'CHEVROLET', Decimal('16.11'), Decimal('304.95'), 'Higher than average'),
 (2004, 'VOLKSWAGEN', Decimal('10.57'), Decimal('212.38'), ''),
 (2004, 'LAND ROVER', Decimal('16.63'), Decimal('334.50'), 'Higher than average'),
 (2004, 'OLDSMOBILE', Decimal('11.90'), Decimal('232.33'), ''),
 (2004, 'BENTLEY', Decimal('22.90'), Decimal('444.00'), 'Higher than average'),
 (2004, 'SUBARU', Decimal('11.56'), Decimal('229.68'), ''),
 (2004, 'GMC', Decimal('17.40'), Decimal('331.87'), 'Higher than average'),
 (2004, 'SUZUKI', Decimal('10.99'), Decimal('223.73'), ''),
 (2004, 'PORSCHE', Decimal('17.70'), Decimal('355.00'), 'Higher than average'),
 (2004, 'NISSAN', Decimal('13.03'), Decimal('261.47'), 'Higher than average'),
 (2005, 'BMW', Decimal('12.76'), Decimal('245.52'), ''),
 (2005, 'LINCOLN', Decimal('13.73'), Decimal('268.67'), 'Higher than average'),
 (2005, 'DODGE', Decimal('15.95'), Decimal('298.00'), 'Higher than average'),
 (2005, 'HYUNDAI', Decimal('11.32'), Decimal('224.25'), ''),
 (2005, 'MASERATI', Decimal('20.22'), Decimal('390.80'), 'Higher than average'),
 (2005, 'GMC', Decimal('16.74'), Decimal('320.54'), 'Higher than average'),
 (2005, 'BENTLEY', Decimal('22.20'), Decimal('425.67'), 'Higher than average'),
 (2005, 'JEEP', Decimal('14.79'), Decimal('301.91'), 'Higher than average'),
 (2005, 'LEXUS', Decimal('13.33'), Decimal('264.54'), 'Higher than average'),
 (2005, 'SMART', Decimal('4.60'), Decimal('113.00'), ''),
 (2005, 'SAAB', Decimal('11.73'), Decimal('227.96'), ''),
 (2005, 'HONDA', Decimal('9.27'), Decimal('186.37'), ''),
 (2005, 'MAZDA', Decimal('11.68'), Decimal('235.19'), ''),
 (2005, 'MITSUBISHI', Decimal('11.40'), Decimal('226.77'), ''),
 (2005, 'SUZUKI', Decimal('10.53'), Decimal('211.36'), ''),
 (2005, 'CADILLAC', Decimal('15.53'), Decimal('298.94'), 'Higher than average'),
 (2005, 'TOYOTA', Decimal('10.61'), Decimal('214.41'), ''),
 (2005, 'JAGUAR', Decimal('13.22'), Decimal('254.43'), 'Higher than average'),
 (2005, 'BUICK', Decimal('13.12'), Decimal('253.93'), 'Higher than average'),
 (2005, 'FERRARI', Decimal('22.71'), Decimal('425.25'), 'Higher than average'),
 (2005, 'CHEVROLET', Decimal('15.31'), Decimal('291.69'), 'Higher than average'),
 (2005, 'LAND ROVER', Decimal('16.65'), Decimal('333.25'), 'Higher than average'),
 (2005, 'SATURN', Decimal('11.31'), Decimal('223.92'), ''),
 (2005, 'NISSAN', Decimal('12.18'), Decimal('243.09'), ''),
 (2005, 'VOLKSWAGEN', Decimal('10.57'), Decimal('213.92'), ''),
 (2005, 'ACURA', Decimal('11.02'), Decimal('216.23'), ''),
 (2005, 'ROLLS-ROYCE', Decimal('18.80'), Decimal('359.00'), 'Higher than average'),
 (2005, 'AUDI', Decimal('12.71'), Decimal('248.06'), ''),
 (2005, 'KIA', Decimal('11.84'), Decimal('235.47'), ''),
 (2005, 'VOLVO', Decimal('11.95'), Decimal('234.37'), ''),
 (2005, 'MINI', Decimal('9.02'), Decimal('180.17'), ''),
 (2005, 'CHRYSLER', Decimal('12.27'), Decimal('239.72'), ''),
 (2005, 'SUBARU', Decimal('11.30'), Decimal('226.03'), ''),
 (2005, 'PORSCHE', Decimal('14.51'), Decimal('279.22'), 'Higher than average'),
 (2005, 'MERCEDES-BENZ', Decimal('14.45'), Decimal('283.09'), 'Higher than average'),
 (2005, 'FORD', Decimal('13.57'), Decimal('261.84'), 'Higher than average'),
 (2005, 'INFINITI', Decimal('14.10'), Decimal('278.38'), 'Higher than average'),
 (2005, 'PONTIAC', Decimal('11.06'), Decimal('215.42'), ''),
 (2006, 'MERCEDES-BENZ', Decimal('14.19'), Decimal('276.66'), 'Higher than average'),
 (2006, 'SUZUKI', Decimal('10.48'), Decimal('208.69'), ''),
 (2006, 'MINI', Decimal('9.26'), Decimal('184.13'), ''),
 (2006, 'PORSCHE', Decimal('13.94'), Decimal('270.26'), 'Higher than average'),
 (2006, 'CADILLAC', Decimal('14.81'), Decimal('285.17'), 'Higher than average'),
 (2006, 'MASERATI', Decimal('18.69'), Decimal('356.57'), 'Higher than average'),
 (2006, 'SATURN', Decimal('11.03'), Decimal('217.17'), ''),
 (2006, 'DODGE', Decimal('16.29'), Decimal('302.74'), 'Higher than average'),
 (2006, 'LEXUS', Decimal('11.96'), Decimal('239.12'), ''),
 (2006, 'GMC', Decimal('15.82'), Decimal('304.47'), 'Higher than average'),
 (2006, 'CHEVROLET', Decimal('14.52'), Decimal('277.76'), 'Higher than average'),
 (2006, 'INFINITI', Decimal('13.47'), Decimal('265.11'), 'Higher than average'),
 (2006, 'HUMMER', Decimal('15.15'), Decimal('307.00'), 'Higher than average'),
 (2006, 'FERRARI', Decimal('20.13'), Decimal('384.17'), 'Higher than average'),
 (2006, 'ACURA', Decimal('10.77'), Decimal('210.91'), ''),
 (2006, 'ROLLS-ROYCE', Decimal('18.80'), Decimal('359.00'), 'Higher than average'),
 (2006, 'PONTIAC', Decimal('11.21'), Decimal('218.56'), ''),
 (2006, 'SMART', Decimal('4.60'), Decimal('113.00'), ''),
 (2006, 'NISSAN', Decimal('12.47'), Decimal('249.00'), ''),
 (2006, 'HYUNDAI', Decimal('10.77'), Decimal('213.82'), ''),
 (2006, 'MAZDA', Decimal('11.47'), Decimal('230.03'), ''),
 (2006, 'FORD', Decimal('12.93'), Decimal('258.31'), 'Higher than average'),
 (2006, 'SAAB', Decimal('12.55'), Decimal('240.50'), ''),
 (2006, 'LINCOLN', Decimal('14.33'), Decimal('280.83'), 'Higher than average'),
 (2006, 'KIA', Decimal('11.55'), Decimal('229.60'), ''),
 (2006, 'JEEP', Decimal('15.27'), Decimal('310.40'), 'Higher than average'),
 (2006, 'JAGUAR', Decimal('12.03'), Decimal('227.06'), ''),
 (2006, 'MITSUBISHI', Decimal('11.55'), Decimal('229.82'), ''),
 (2006, 'VOLVO', Decimal('11.82'), Decimal('231.11'), ''),
 (2006, 'BMW', Decimal('13.14'), Decimal('253.02'), 'Higher than average'),
 (2006, 'CHRYSLER', Decimal('12.24'), Decimal('239.16'), ''),
 (2006, 'HONDA', Decimal('10.33'), Decimal('207.10'), ''),
 (2006, 'VOLKSWAGEN', Decimal('10.38'), Decimal('211.63'), ''),
 (2006, 'LAND ROVER', Decimal('17.27'), Decimal('338.83'), 'Higher than average'),
 (2006, 'SUBARU', Decimal('11.28'), Decimal('226.18'), ''),
 (2006, 'BENTLEY', Decimal('21.85'), Decimal('415.25'), 'Higher than average'),
 (2006, 'TOYOTA', Decimal('11.03'), Decimal('222.94'), ''),
 (2006, 'BUICK', Decimal('13.34'), Decimal('259.54'), 'Higher than average'),
 (2006, 'AUDI', Decimal('12.71'), Decimal('247.56'), ''),
 (2007, 'LINCOLN', Decimal('13.95'), Decimal('272.17'), 'Higher than average'),
 (2007, 'HONDA', Decimal('10.35'), Decimal('206.96'), ''),
 (2007, 'CADILLAC', Decimal('14.78'), Decimal('279.67'), 'Higher than average'),
 (2007, 'ASTON MARTIN', Decimal('18.85'), Decimal('356.50'), 'Higher than average'),
 (2007, 'CHRYSLER', Decimal('12.57'), Decimal('240.65'), ''),
 (2007, 'TOYOTA', Decimal('10.99'), Decimal('223.94'), ''),
 (2007, 'ROLLS-ROYCE', Decimal('18.10'), Decimal('347.00'), 'Higher than average'),
 (2007, 'HUMMER', Decimal('16.00'), Decimal('319.50'), 'Higher than average'),
 (2007, 'FORD', Decimal('13.59'), Decimal('261.63'), 'Higher than average'),
 (2007, 'LEXUS', Decimal('11.84'), Decimal('237.88'), ''),
 (2007, 'SUZUKI', Decimal('10.39'), Decimal('209.29'), ''),
 (2007, 'SATURN', Decimal('11.40'), Decimal('218.91'), ''),
 (2007, 'SUBARU', Decimal('11.24'), Decimal('224.86'), ''),
 (2007, 'INFINITI', Decimal('13.73'), Decimal('270.36'), 'Higher than average'),
 (2007, 'KIA', Decimal('10.89'), Decimal('217.39'), ''),
 (2007, 'AUDI', Decimal('13.20'), Decimal('256.28'), 'Higher than average'),
 (2007, 'DODGE', Decimal('14.97'), Decimal('275.69'), 'Higher than average'),
 (2007, 'JAGUAR', Decimal('13.27'), Decimal('256.21'), 'Higher than average'),
 (2007, 'VOLKSWAGEN', Decimal('10.97'), Decimal('215.69'), ''),
 (2007, 'SAAB', Decimal('12.64'), Decimal('239.83'), ''),
 (2007, 'FERRARI', Decimal('20.41'), Decimal('392.75'), 'Higher than average'),
 (2007, 'BUICK', Decimal('13.80'), Decimal('255.10'), 'Higher than average'),
 (2007, 'VOLVO', Decimal('12.03'), Decimal('234.76'), ''),
 (2007, 'MINI', Decimal('8.84'), Decimal('177.00'), ''),
 (2007, 'MAZDA', Decimal('11.58'), Decimal('231.68'), ''),
 (2007, 'NISSAN', Decimal('11.92'), Decimal('239.65'), ''),
 (2007, 'JEEP', Decimal('13.47'), Decimal('265.70'), 'Higher than average'),

***Here, we can have number of car maker for every year with higher emissions. If we arrange it in descending order we can see year 2022 has higher emission highlight & the lowest is in year 2013 & 2014.***

In [12]:
%%sql
WITH CTE AS(
SELECT years, make,
        avg_fuel_consumption, 
        avg_emissions
FROM filter1
WHERE em_highlight = 'Higher than average'
)
SELECT years, COUNT(*)
FROM CTE
GROUP BY years
ORDER BY 2 DESC

 * postgresql://postgres:***@localhost:5432/cars
23 rows affected.

[(2022, 23),
 (2019, 22),
 (2018, 21),
 (2007, 21),
 (2008, 21),
 (2021, 21),
 (2020, 21),
 (2009, 20),
 (2003, 19),
 (2002, 19),
 (2004, 19),
 (2006, 18),
 (2017, 18),
 (2005, 18),
 (2000, 17),
 (2015, 17),
 (2001, 16),
 (2016, 16),
 (2010, 15),
 (2011, 14),
 (2012, 13),
 (2013, 11),
 (2014, 11)]